@tailwind base;

@layer base {
  pre { @apply rounded-md; }
  pre code { @apply rounded-md; }
}

@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.code-block h2 { @apply font-bold text-lg p-4 }

